$link-color: $blue-100;
$var-color: $body-text-color;
$eq-color: $link-color;
$tm-green: #c2dec7;
$tm-gray: #eaeaea;

.equation {
  display: block;
  font-family: Times;
  color: $eq-color;
  padding: 1.5rem;
//  font-weight: bold;
  }
  
.math_var {
  cursor: text;
  pointer-events: none;
  color: $var-color;
  background-image: none;
  font-family: Times;
  font-weight: bold;
  }
  
.procedure{
  background-color: $grey-lt-000;
  border: solid;
  border-width: thin;
  border-radius: 7px;
  border-color: lightgray;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  li {
    position: absolute;
    margin-left: 1rem;
  }
 }
  
 .btn-tm{
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.4em;
  padding-right: 1.5em;
  padding-bottom: 0.4em;
  padding-left: 1.5em;
  margin: 0;
  margin-right: 15px;
  color: #000000;
  background-color: $tm-gray;
  border: groove;
  border-color: #acacac;
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
 }
 
 .btn-tm-green{
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.4em;
  padding-right: 1.5em;
  padding-bottom: 0.4em;
  padding-left: 1.5em;
  margin: 0;
  margin-right: 15px;
  color: #000000;
  background-color: $tm-green;
  border-style: ridge;
  font-family: "Arial";
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
 }
